#root {
    width: 100%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#search-container {
    text-align: center;
    padding-top: 50px;
}

input {
    outline: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 3px;
    max-width: 300px;
    width: 100%;
    background-color: #454469;
}

.loader {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.loader span {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
