img, video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
}
